@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT GLOBAL */
html {
  font-family: 'Plus Jakarta Sans','Plus Jakarta Sans Fallback', sans-serif;
}

.noto-emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

/* CSS VARIABLE GUNAKAN @layer AGAR JIT BISA BACA THEME() */
@layer base {
  :root {
    --primary: theme(colors.teal.500);
    --secondary: theme(colors.orange.400);
  }
  .dark {
    --primary: theme(colors.teal.400);
    --secondary: theme(colors.orange.300);
  }
}
